<?xml version="1.0" encoding="utf-8"?>

<!--
  ~ When it tries to run the test on 64bit device, following error occurs:
  ~   java.lang.NullPointerException: Attempt to invoke interface method 'boolean org.mockito.plugins.MockMaker$TypeMockability.mockable()' on a null object reference
  ~
  ~ This file is required for the workaround.
  ~
  ~ Reference:
  ~  - https://github.com/mockk/mockk/issues/297#issuecomment-641361770
  -->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.package">
    <application android:extractNativeLibs="true" />
</manifest>
